#education {

  .date-description {
    display: flex;
    flex-direction: row;
    margin-left: 3%;
  }

  // .dates {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: space-between;
  // }

  .button-year-shadow {
    position: relative;
    height: 28px;
    margin-bottom: 46%;
    margin-left: 11%;
  }

  .education-description {
    margin-left: 2%;
  }

  .titles {
    display: flex;
    flex-direction: rows;
  }

  .dates-experience {
    margin-left: 18%;
    
  }


  // .education-experience {
  // display: flex;
  // flex-direction: row;
  // justify-content: space-around;
  // }

  h2 {
    font-family: 'Pacifico';
    font-size: 32px;
    margin-left: 19%;
    margin-bottom: 4%;
    margin-top: 7%;
   }

  // .education-title {
  //   margin-left: 19%;
  //   margin-bottom: 4%;
  //   margin-top: 15%;
  // }

  // .date-experience {
  //   display: flex;
  //   flex-direction: row;
  //   margin-bottom: -5%;

  // }

  // .date-education {
  //   display: flex;
  //   flex-direction: row;
  //   margin-bottom: -14%;
  //   margin-top: 12%;
  // }

  // .p-educ {
  //   margin-top: 0;
  //   margin-bottom: 1rem;
  //   margin-left: 5%;
  // }
}
