#new {
  h2 {
    font-size: 32px;
    font-family: 'Pacifico';
    margin-left: 47%;
    margin-top: 6%;
    margin-bottom: 5%;
  }

  .form-container input[type="name"],
  .form-container input[type="text"],
  .form-container input[type="email"],
  .form-container textarea {
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 15px !important;
    background-color: $pink !important;
    width: 50%;
    margin-left: 26%;
    margin-bottom: 3%;
  }

  .form-container textarea {
    height: 100px;
  }
  
  .form-container input[type="name"]::placeholder {
    color: black !important;
  }

  .form-container input[type="text"]::placeholder,
  .form-container input[type="email"]::placeholder,
  .form-container textarea::placeholder {
    color: black !important;
  }
}
