#portfolio {
  h2 {
    font-size: 32px;
    font-family: 'Pacifico';
    margin-left: 50%;
    margin-top: 6%;
    margin-bottom: 5%;
  }

  h3 {
    font-size: 24px;
    font-family: 'Quicksand';
    margin-left: 50%;
    margin-top: 4%;
    margin-bottom: 5%;
    font-weight: 400;
  }

  .travelpals {
    vertical-align: middle;
    width: 26%;
    margin-left: 14%;
    border-radius: 25px;
    border: 1px solid;
  }

 
}
