#portfolio {
  h2 {
    font-size: 32px;
    font-family: 'Pacifico';
    margin-left: 50%;
    margin-top: 6%;
    margin-bottom: 5%;
  }

  h3 {
    font-size: 24px;
    margin-left: 50%;
    margin-bottom: 3%;
    font-weight: 400;
  }

  // .travelpals {
  //   vertical-align: middle;
  //   width: 26%;
  //   margin-left: 14%;
  //   border-radius: 25px;
  //   border: 1px solid;
  // }

  .buttons {
    display: flex;
    flex-direction: row;
    margin-top: -557px;
  }

  .travelpals {
    vertical-align: middle;
    width: 340px;
    margin-left: 13%;
    border-radius: 25px;
    border: 1px solid;
    height: 631px;
    object-fit: cover;
    margin-top: -113px;
  }

  h3, h4, p {
    font-family: 'Quicksand';
  }

  h4 {
    margin-left: 44%;
    margin-top: 3%;
  }

  .description-stack {
    display: flex;
    flex-direction: column;
  }

  p {
    font-size: 19px;
    font-weight: 400;
    margin-top: 1.5%;
    margin-bottom: 1rem;
    margin-left: 44%;
    width: 33%;
  }

  .stack {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .html-stack, .sass-stack, .js-stack, .rails-stack {
    width: 3%;
    padding-left: 0.5%;
  }
}
