#skills {
  h2 {
    font-family: 'Pacifico';
    font-size: 32px;
    margin-left: 50%;
    margin-top: 6%;
    margin-bottom: 5%;
  }

  .html, .css, .sass, .js, .figma, .ruby, .rails, .git, .github, .postgresql, .mysql, .bootstrap {
    width: 8%;
    margin-left: 6%;
  }

  .row-skills-1, .row-skills-2, .row-skills-3, .row-skills-4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5%;
  }
}
