<div id="education">
    <div class="education-experience">
      <h2>Education</h2>
      <div class="date-experience">
        <div class="button-year-shadow">
          <button class="button-year">2023</button>
        </div>
        <p><strong>Full-Stack Engineer path</strong><br>Codecademy</p>
      </div>
      <div class="date-experience">
        <div class="button-year-shadow">
          <button class="button-year">2023</button>
        </div>
        <p><strong>Fullstack Web Development Bootcamp</strong><br>Le Wagon Bali, Batch #1134</p>
      </div>
      <div class="date-experience">
        <div class="button-year-shadow">
          <button class="button-year">2022</button>
        </div>
        <p><strong>New Responsive Web Design Certification</strong><br>Freecodecamp</p>
      </div>
    </div>
  </div>
