<div id="education">
  <div class="titles">
    <h2 class="education-title">Education</h2>
    <h2 class="experience-title">Work Experience</h2>
  </div>
  <div class="date-description">
    <div class="dates">
      <div class="button-year-shadow">
        <button class="button-year">2023</button>
      </div>
      <div class="button-year-shadow">
        <button class="button-year">2023</button>
      </div>
      <div class="button-year-shadow">
        <button class="button-year">2022</button>
      </div>
      <div class="button-year-shadow">
        <button class="button-year">2017</button>
      </div>
    </div>
    <div class = "education-description">
      <p class="p-educ"><strong>Full-Stack Engineer path</strong><br>Codecademy</p>
      <p class="p-educ"><strong>Fullstack Web Development Bootcamp</strong><br>Le Wagon Bali, Batch #1134</p>
      <p class="p-educ"><strong>Web Design Certification</strong><br>Freecodecamp</p>
      <p><strong>Master of Social Work</strong><br>IRFSS Red Cross France</p>
    </div>

    <div class="dates-experience">
      <div class="date">
        <div class="button-year-shadow">
          <button class="button-year">2023</button>
        </div>
        <div class="button-year-shadow">
          <button class="button-year">2020</button>
        </div>
        <div class="button-year-shadow">
          <button class="button-year">2017</button>
        </div>
      </div>
      <div class="experience-description">
        <p><strong>Full-Stack web developer</strong><br>Freelance</p>
        <p><strong>Travel around Australia</strong>, work as a machinery operator, mining utility and disability support worker</p>
        <p><strong>Social worker asylum seekers and refugees</strong><br>Coallia and The Salvation Army, France</p>
      </div>
    </div>
  </div>


    <%# <div class="education-experience">
      <div class=education">
        <h2 class="education-title">Education</h2>
        <div class="date-education">
          <div class="button-year-shadow">
            <button class="button-year">2023</button>
          </div>
          <p class="p-educ"><strong>Full-Stack Engineer path</strong><br>Codecademy</p>
        </div>
        <div class="date-education">
          <div class="button-year-shadow">
            <button class="button-year">2023</button>
          </div>
          <p class="p-educ"><strong>Fullstack Web Development Bootcamp</strong><br>Le Wagon Bali, Batch #1134</p>
        </div>
        <div class="date-education">
          <div class="button-year-shadow">
            <button class="button-year">2022</button>
          </div>
          <p class="p-educ"><strong>New Responsive Web Design Certification</strong><br>Freecodecamp</p>
        </div>
        <div class="date-education">
          <div class="button-year-shadow">
            <button class="button-year">2017</button>
          </div>
          <p><strong>Master of Social Work</strong><br>IRFSS Red Cross France</p>
        </div>
      </div>
      <div class="experience">
        <h2 class="experience-title">Experience</h2>
        <div class="date-experience">
          <div class="button-year-shadow">
            <button class="button-year">2023</button>
          </div>
          <p><strong>Full-Stack web developer</strong><br>Freelance</p>
        </div>
        <div class="date-experience">
          <div class="button-year-shadow">
            <button class="button-year">2020</button>
          </div>
          <p>Travel around Australia, work as a machinery operator, mining utility and disability support worker</p>
        </div>
        <div class="date-experience">
          <div class="button-year-shadow">
            <button class="button-year">2017</button>
          </div>
          <p><strong>Social worker asylum seekers and refugees</strong><br>Coallia and The Salvation Army, France</p>
        </div>
       </div>
      </div>
    </div> %>
  </div>
