<div id="home">
  <div class="text">
    <div class="hello">
      <h1>Hello,</h1>
      <h1>I'm Fanny</h1>
    </div>
      <h2>A Full-Stack Web Developer</h2>
  </div>

  <div class="button-code-shadow">
    <%= link_to (image_tag("css.png") + 'Enter', '/about', class: 'button-enter' %>
  </div>
  <div class="icons">
    <a href="mailto:fanny.jousset@gmail.com"><i class="fa-sharp fa-regular fa-envelope"></i></a>
    <a href="https://github.com/FnnyJsst"><i class="fa-brands fa-github-alt"></i></a>
    <a href="https://www.linkedin.com/in/fanny-jousset/"><i class="fa-brands fa-linkedin"></i></a>
    <a href="https://www.instagram.com/fnnyjsst/?hl=fr"><img src="https://img.icons8.com/material-outlined/192/null/instagram-new--v1.png" class="insta"/></a>
  </div>
</div>
