<div id="portfolio">
  <h2>Portfolio</h2>
  <h3>TravelPals</h3>
  <%= image_tag "travelpals.jpg", class: "travelpals" %>
  <div class="buttons">
    <div class="button-code-shadow">
      <a href="https://github.com/FnnyJsst" class="button-code">
        <%= image_tag "github-button.png", class: "github-button" %>
        <span>View Code</span>
      </a>
  </div>
  <div class="button-code-shadow">
    <a href="www.travelpals.me" class="button-code">
        <%= image_tag "view.png", class: "view" %>
        <span>View Project</span>
      </a>
  </div>
  </div>
</div>
