.button-enter, .button-contact, .button-download, .button-year {
  border-radius: 15px;
  border: 1px solid black;
  background-color: $pink;
  position: absolute;
}

.button-enter {
  width: 209px;
  height: 58px;
  font-size: 34px;
  left: 0%;
  top: -7%;
}

.button-contact {
  font-family: 'QuickSand';
  font-size: 15px;
  font-weight: 400;
  margin-top: 0.5%;
  position: absolute;
  right: 13.25%;
  margin-right: -9.85%;
}

.button-shadow-contact {
  margin-top: 1%;
  margin-right: -9%;
}


.button-contact, .button-shadow-contact {
  width: 168px;
  height: 45px;
}

a.button-enter {
  text-decoration: none;
  color: black;
  padding-left: 27%;
}

.button-shadow, .button-shadow-contact, .button-download-shadow, .button-year-shadow {
  background-color: black;
  border-radius: 15px;
  position: relative;
}

.button-shadow {
  width: 209px;
  height: 58px;
  left: 559px;
  top: 577px;
  left: 41%;
  top: 0%;
  margin-top: 5%
}

.button-download, .button-download:hover {
  text-decoration: none;
  color: black;
  position: absolute !important;
  padding-top: 2.5%;
  padding-left: 3%;
  top: 87%;
  width: 181px;
  height: 38px;
  margin-top: -20%;
}


.button-download-shadow {
  left: 48%;
  height: 38px;
  margin-top: 2%;
  position: relative;
  width: 180px;
}

.button-year, .button-year-shadow {
  width: 72px;
  margin-top: -3%;
}

.button-year-shadow {
  position: relative;
  height: 28px;
  margin-bottom: 5%;
  margin-left: 11%;
  margin-top: 5%;
}

.dates-experience {
  margin-left: 18%;
}
