.button-enter {
  position: absolute;
  width: 209px;
  height: 58px;
  border-radius: 15px;
  border: 1px solid black;
  font-size: 34px;
  left: 0%;
  top: -7%;
  background-color: #FFEEEF;
}

a.button-enter {
  text-decoration: none;
  color: black;
  padding-left: 27%;
}

.button-shadow {
  position: relative;
  width: 209px;
  height: 58px;
  left: 559px;
  top: 577px;
  background-color: black;
  left: 41%;
  border-radius: 15px;
  top: 0%;
  margin-top: 5%
}
